@import "src/scss/vars";

.tooltip-wrapper {
  @include border-radius(5px);
  background-color: white !important;
  border: 1px solid $separator-grey;
  overflow: hidden;
  padding: $base-unit-md - 5;
  width: 280px;

  .tooltip-header {
    overflow: hidden;

    .label {
      line-height: 190%;
      margin-right: $base-unit / 2;
    }

    .value {
      float: none;
    }
  }

  ul {
    @include list-unstyled;
    border-top: 1px solid $separator-grey;
    margin-top: $base-unit;
    padding-top: $base-unit;

    li {
      border-bottom: 1px solid $chart-grey-title;
      margin-bottom: $base-unit / 2;
      overflow: hidden;
      padding-bottom: $base-unit / 2;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  /*.label {
    @include popup-data-style($default-text-color, $tooltip-font-size - 1, $regular-weight, left);
  }

  .value {
    @include popup-data-style($theme-green, $tooltip-font-size + 1, 800, right);
  }*/

  .map-tooltip-data {
    padding-bottom: $base-unit-md;
    border-top: 1px solid $separator-grey;
    margin-top: $base-unit;
    padding-top: $base-unit;

    .label {
      > span {
        color: $red;
        /*font-size: $tooltip-font-size + 1;
        font-weight: $bold-weight;*/
      }
    }

    .label1 {

      color: grey;
      //font-size: $tooltip-font-size;
      font-weight: normal;
      display: inline;

    }

    .labelBolder {

      color: grey;
      /*font-size: $tooltip-font-size;
      font-weight: $bold-weight;*/
      display: inline;

    }

    .value {
      display: block;
      float: none;
      padding-bottom: $base-unit;
    }

    .elow {
      //font-size: $tooltip-font-size;
      color: #C4E765;
      font-weight: bolder;

    }

    .low {
      //font-size: $tooltip-font-size + 1;
      color: #96C11F;
    }

    .average {
      //font-size: $tooltip-font-size + 1;
      color: #F9D133;
    }

    .high {
      //font-size: $tooltip-font-size + 1;
      color: #FB9755;
    }

    .ehigh {
      //font-size: $tooltip-font-size + 1;
      color: #FB5555;
    }
  }
}
