@import "src/scss/vars";

.map-row {
  border: #e5e5e5 1px solid;
  border-top: none;
  padding: 0 !important;
  
  .column {
    padding: 0 !important;
  }
  
  .map-wrapper {
    background-color: #f3f9ff;
  }
}

.tooltip-wrapper {
  @include border-radius(5px);
  background-color: white !important;
  border: 1px solid $tooltip-text-color;
  overflow: hidden;
  padding: $base-unit-md - 5;
  width: 300px;

  .tooltip-header {
    overflow: hidden;
    font-size: 14px;

    .label {
      line-height: 150%;
      margin-right: $base-unit / 2;
    }

    .value {
      float: none;
    }
  }

  ul {
    @include list-unstyled;
    border-top: 1px solid $separator-grey;
    margin-top: $base-unit;
    padding-top: $base-unit;

    li {
      border-bottom: 1px solid $chart-grey-title;
      margin-bottom: $base-unit / 2;
      overflow: hidden;
      padding-bottom: $base-unit / 2;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .map-tooltip-data {
    padding-bottom: $base-unit-md;
    border-top: 1px solid $separator-grey;
    margin-top: $base-unit;
    padding-top: $base-unit;

    .label {
      > span {
        color: $red;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .label1 {
      color: grey;
      font-size: 14px;
      font-weight: normal;
      display: inline;

    }

    .labelBolder {
      // color: grey;
      font-size: 14px;
      font-weight: 700;
      display: inline;

    }

    .value {
      display: block;
      float: none;
      padding-bottom: $base-unit;
    }
  }
}
