@import 'src/scss/vars';

.country-info {
  color: $text-color;
  font-size: 18px;
  // height: 100%;
  min-height: 550px;
  overflow: hidden;

  &.ui.grid {
    margin: 0;
  }

  .section {
    &.sub{
      padding-bottom: 0;
      padding-top: 0;
      .section-title{
        margin-bottom: -($base-unit * 4);
        margin-top: $base-unit + 5;
      }
    }
    .space{
      clear: both;
      height: $base-unit * 2;
      width: $extend;
      flex: none;
    }
    &.totals {
      align-items: center;
      background-color: #EBEBEB;
      justify-content: center;
      height: $base-unit * 5;
      margin-bottom: -($base-unit * 5);
      margin-top: $base-unit * 2.5;
      padding-bottom: 0;
      padding-top: 0;

      .column {
        align-items: end;

        .label {
          font-size: 12px;
          text-transform: uppercase;;
        }

        .data {
          margin-left: 10px;
          font-size: 16px;
          font-weight: 400;
          color: #84a43a;
        }

        .label, .data {
          align-items: end;
          display: flex;
        }

        display: flex;
      }
    }

    .household-data {
      margin-top: -30px;
      .label, .data {
        display: flex;
        text-align: left;
      }
      .label{
        width: 100px;
      }

      .data {
        font-weight: 700;
        font-size: 29px;
        color: $green-link;
      }
    }

    .business-rank {
      padding-top: $base-unit / 2;
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
      height: 2.5em;
      .label{
        display: block;
        padding-top: $base-unit / 2;
        text-align: left;
        font-weight: 900;
      }
      .data {
        font-size: 20px;
        font-weight: 900;
        color: $green-link;
      }
    }

    .section-title {
      width: 100%;
      display: flex;
      font-weight: 900;
      text-align: left;
    }

    &.border {
      border-top: 1px solid $light-gray;
      margin-top: -($base-unit * 3);
      padding-top: $base-unit / 2;
    }
  }

  .crop-container {
    padding-bottom: 0 !important;
    padding-top: 0.3 !important;

    .crop {
      .label, .data {
        width: 100%;
        display: flex;
      }

      .label {
        font-weight: 400;
        font-size: 14px;
        text-align: left;
      }

      .data {
        font-weight: 900;
        font-size: 18px;
        color: $green-link;
      }
    }
  }
}

.country_info_source {
  text-align: left;
  font-weight: normal;
  padding-top: 0.5em;
}
