@import "../../src/_vars.scss";

.container.footer {
  margin-bottom: -10px;
  margin-top: $base-unit-xlg;
  background-color: $footer-bg;
  overflow: hidden;
  padding: $base-unit $base-unit-lg;
  .footer-logo{
    float: left;
    width: $base-unit-xlg * 1.5;
  }
  .secondary-logo{
    float: right;
    margin-top: $base-unit / 2;
    opacity: 1;
    width: $base-unit-xlg * 2;
    &:hover{
      opacity: 0.8;
    }
  }
  .tertiary-logo{
    float: right;
    margin-right: $base-unit + 10;
    opacity: 1;
    width: $base-unit-xlg * 1.6;
    &:hover{
      opacity: 0.8;
    }
  }
  .footer-title {
    color: $footer-title-color;
    float: left;
    font-weight: $regular-weight;
    margin: 0 0 0 $base-unit-rel;
    padding: $base-unit-rel 0;
    text-transform: uppercase;
  }
  .contact{
    color: $theme-green;
    display: block;
    padding-top: $base-unit + 10;
    text-align: center;
    &:hover{
      color: $darkest;
    }
  }
}
