@import "../../src/_vars.scss";

.container.footer {
  margin-top: $base-unit-xlg;
  background-color: $footer-bg;
  padding: $base-unit-lg;
  .footer-logo{
    float: left;
    width: $base-unit-xlg * 1.5;
  }
  .secondary-logo{
    float: right;
    margin-top: 20px;
    opacity: 1;
    width: $base-unit-xlg * 2.5;
    &:hover{
      opacity: 0.8;
    }
  }
  .header {
    color: $footer-title-color;
    float: left;
    font-weight: $regular-weight;
    margin: 0 0 0 $base-unit-rel;
    padding: $base-unit-rel;
    text-transform: uppercase;
  }
  .contact{
    color: $theme-green;
    display: block;
    padding-top: $base-unit-rel * 2;
    text-align: center;
    &:hover{
      color: $darkest;
    }
  }
}
