@import "../../src/_vars.scss";

.ui.container.fluid.header{
  background-color: $theme-green;
}
.content-wrapper{
  .ui.container.desktop{
    margin-top: $base-unit-lg;
  }
}

  .ui.container{
    @media only screen and (min-width: 1200px){
      width: 1250px;
    }
  }
