$border_gray: rgba(229, 229, 229, 1);

.chart-section {
  padding-bottom: 30px;
  padding-top: 0 !important;
  border: $border_gray 1px solid;
  border-top: none;

  .hhi-crops {
    
    position: relative;
    top: 10px;
    left: 30px;
    
    .crop-icon {
      background-size: 25px;
      height: 30px;
      padding-left: 30px;

      label {
        margin-top: 5px;
        text-transform: capitalize;
      }
    }
  }
}

.hhi-section {
  border: $border_gray 1px solid;

  .hhi-title {
    float: left;
    padding-right: 50px;
    font-weight: bold;
    color: #354052;
  }

  .hhi-div {
    float: left;
    display: flex;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 11pt;
    font-weight: bold;
    color: gray;
    padding-top: 2px;
  }

  .hhi-circle {
    width: 18px;
    height: 18px;
    border-radius: 25px;
    margin-right: 5px;
  }
}
