.filters-section {

  .ui.vertical.menu {
    padding: 0;
    height: 40px;
    border: 1px solid #dbdce0;
    background-color: #f4f6f9;
    box-shadow: none;
    .item {
      border-radius: 0;
      padding: 0;

      .filter-selector-title {
        color: #333c48;
        font-size: 14pt;
        font-weight: 400;
        justify-content: left;
        float: left;
        margin-top: 15px;
      }

      .filter-selector-numbers {
        font-size: 12pt;
        color: #808080;
        float: left;
        font-weight: 400;
        margin-top: 16px;
        margin-left: 15px;
      }

      .title {
        justify-content: left;
        font-size: 16px;
        font-weight: 700;
        height: 60px;
        width: 100%;
        padding-left: 25px;

        .angle.icon {
          color: #808080;
          margin-right: 18px;
          margin-top: 19px;
          float: right;
        }

        &.active {
          .angle.icon {
            transform: rotate(90deg);
          }
        }
      }

      .content {
        background-color: #f4f6f9;
        position: relative;
        z-index: 1;
        width: 100%;
        border: 1px solid #e4e1d9;
        padding: 10px;
        box-shadow: none;
        text-align: left;
        opacity: 0.95;

        .checkbox {
          width: 100%;
          label{
            line-height:90%;
            margin-top: 7px;
          }
        }

        .ui.checkbox input:checked~.box:after,
        .ui.checkbox input:checked~label:after{
          color: #333c48;
          left: 1px;
          top: 1px;
        }

        .ui.input {
          width: 90%;
        }

        .ui.form {
          input {
            height: 40px;
          }

          i.icons {
            padding-left: 25px;

            .icon {
              left: 72%
            }
          }
        }

        .ui.form {
          .field {

            .ui.radio.checkbox {
              label {
                font-size: 10px;
              }
            }
          }
        }
      }

      .active.title {
        .dropdown.icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}
