/ui/node_modules/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentytwenty/
/wp-content/themes/twentytwentyone/
/data/
ui/package-lock.json
ui/pnpm-lock.yaml
/api/
/ui/build/
/ui/wp-react-lib/dist/
/wp-content/plugins/dg-react-components/page-gallery/node_modules/
/wp-content/plugins/dg-react-components/block-styles/node_modules/
/wp-content/plugins/dg-react-components/charts/node_modules/
/wp-content/plugins/dg-react-components/filter/node_modules/
/wp-content/plugins/dg-react-components/page-modules/node_modules/
/wp-content/plugins/dg-react-components/post-carousel/node_modules/
/wp-content/plugins/dg-react-components/tabbed-posts/node_modules/
/wp-react-blocks-plugin/blocks/build/
/wp-react-blocks-plugin/blocks/node_modules/
/node_modules
