@import 'src/scss/vars';

.indicator-title {
  border-bottom: 1px solid #dfe2e5;

  .value {
    text-align: center;
  }

  .column {
    font-size: 12px;
    font-style: italic;
    color: purple;
  }
}

.indicator-label {
  &.grid {
    height: 100%;
  }

  .column {
    font-weight: 600;
    align-items: center !important;
    display: flex !important;

    &.label {
      padding-left: 15px !important;

    }

    &.value {
      @include align-content;
      justify-content: center;
    }


    border: 1px solid pink;;
  }
}