@import 'src/scss/vars';

.empty {
  border-right: 1px solid $indicator-border-color;
  height: 100%;
}

.indicator-sub-title {
  &.ui.grid {
    height: 100%;
  }

  .value {
    @include display-flex(center);
    border-right: 1px solid $indicator-border-color;
  }

  .column {
    font-size: 12px;
    font-style: italic;
  }
}

.indicator-selected-country {
  .indicator-label {
    .column {
      font-weight: 600;
    }

    @media (max-width: 1000px) {
      font-size: 11px !important;
    }
  }
}

.indicator-label {
  .value {
    .number_right, .rating_right {
      padding-right: 5px;
      justify-content: right !important;
    }

    .number_center, .rating_center {
      padding-right: 0!important;
      justify-content: center !important;
    }

    .number_left, .rating_left {
      padding-left: 5px;
      justify-content: left !important;
    }

  }

  .letter.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $indicator-border-color;
  }

  .letter.right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $indicator-border-color;
    text-align: right;
    -webkit-justify-content: flex-end; // fix for safari.
    padding-right: 5px;
  }

  &.grid {
    height: 100%;
  }

  .column {

    font-weight: 400;
    align-items: center !important;
    display: flex !important;

    &.label {
      padding-left: 15px !important;

    }

    &.value {
      border-right: 1px solid $indicator-border-color;

      div {
        width: 100%;
        height: 100%;
        @include display-flex(right);
        padding-right: 5px;
        -webkit-justify-content: flex-end; // fix for safari.
      }
    }
  }
}
