// fonts
$font-family: 'Lato', sans-serif;

// colors
$body-bg: #ffffff;
$footer-bg: #d1d2d4;
$footer-title-color: #717171;
$darkest: #000000;
$theme-green: #4d843f;
$theme-light-green: #55b63c;
$menu-border: #75ae66;
$theme-yellow: #ffd686;
$theme-orange: #F39C01;

// spacing units
$base-unit-rel: 1rem;
$base-unit: 10px;
$base-unit-sm: 5px;
$base-unit-md: 20px;
$base-unit-lg: 35px;
$base-unit-xlg: 100px;
$extend: 100%;

$content-width: 1366px;


// typography
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 600;

$body-font-size: 18px;
$header-title-size: 1.3rem;
$footer-title-size: 3rem;


// Editor colors
$blue: #3e53a6;
$light-blue: #5089a6;
$dark-gray: #5c5d63;
$gray: #66676d;
$light-gray: #dadada;
$separator-grey: #ececec;
$red: #ba5555;
$blue: #3e53a6;
$green: #4d843f;
$orange: #f39c00;

$health-color: #5baf95;
$light-green: #31ba1a;

$charts-options-height: 66px;
$charts-options-font-size: 1.02rem;

@mixin gray-raleway-font {
  font-size: $charts-options-font-size;
  color: $gray;
  font-weight: 500;
  font-family: "Raleway";
}

@mixin list-unstyled() {
 list-style:  none;
 margin: 0;
 padding: 0;
}

@mixin list-icon() {
  background-position: 0 1px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: $base-unit + 5;
  margin-right: $base-unit / 2;
  width: $base-unit + 5;
}
