// fonts
$font-family: 'Lato', sans-serif;

// colors
$body-bg: #ffffff;
$footer-bg: #d1d2d4;
$footer-title-color: #717171;
$submenu-border: #eeeeee;
$overview-border: #dedede;
$chart-info-bg: #ececec;
$separator-color: #e6e6e6;
$filter-bg: #f7f7f7;
$filter-border-color: #ced0da;
$map-bg: #F3F9FF;
$child-menu-bg: #ececec;
$default-text-color: #575757;
$label-color: #626262;
$dark-blue-text: #354052;
$darker: #282728;
$darkest: #000000;
$theme-green: #4d843f;
$theme-light-green: #55b63c;
$menu-border: #75ae66;
$theme-orange: #f39c00;
$theme-yellow: #ffd686;
$input-bg: #fef0d6;
$theme-red: #fb5555;

// spacing units
$base-unit-rel: 1rem;
$base-unit: 10px;
$base-unit-sm: 5px;
$filter-section-padding: 8px;
$base-unit-md: 20px;
$base-unit-lg: 35px;
$base-unit-xlg: 100px;
$extend: 100%;

$content-width: 1366px;


// typography
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 600;
$bold-weight: 800;

$body-font-size: 18px;
$label-font-size: 12px;
$tooltip-font-size: 14px;
$header-title-size: 1.2rem;
$footer-title-size: 3rem;


// Editor colors
$blue: #3e53a6;
$light-blue: #5089a6;
$dark-gray: #5c5d63;
$gray: #66676d;
$light-gray: #dadada;
$separator-grey: #ececec;
$red: #ba5555;
$blue: #3e53a6;
$green: #4d843f;
$orange: #f39c00;

$health-color: #5baf95;
$light-green: #31ba1a;

$charts-options-height: 66px;
$charts-options-font-size: 1.02rem;

@mixin box-shadow{
  box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.3);
  -webkit-box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.3);
}

@mixin gray-raleway-font {
  font-size: $charts-options-font-size;
  color: $gray;
  font-weight: 500;
  font-family: "Raleway";
}

@mixin list-unstyled() {
 list-style:  none;
 margin: 0;
 padding: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin list-icon() {
  background-position: 0 1px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: $base-unit + 5;
  margin-right: $base-unit / 2;
  width: $base-unit + 5;
}

@mixin tooltip-shadow() {
  -webkit-box-shadow: -4px 8px 12px -4px rgba(0,0,0,0.24);
  box-shadow: -4px 8px 12px -4px rgba(0,0,0,0.24);
}

@mixin col-grid($width, $float){
  float: $float;
  width: $width;
}
@mixin transition($transition-property, $duration){
  -webkit-transition: $transition-property $duration ease-out;
  -moz-transition: $transition-property $duration ease-out;
  -o-transition: $transition-property $duration ease-out;
  transition: $transition-property $duration ease-out;
}

@mixin popup-data-style($color, $font-size, $font-weight, $float){
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  float: $float;
}

@mixin export-icon{
  background-color: transparent;
  background-position: center 2px;
  background-repeat: no-repeat;
  padding: 0;
  height: $base-unit * 3;
  width: $base-unit * 3;
}
