@import "vars";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ui {
  font-family: $font-family!important;
}

.ui.container.narrow {
  max-width: 1080px;
}

.ui.container.fluid.desktop {
  max-width: 1366px !important;
}


.ui.primary.button {
  background-color: $theme-green!important;

}

.ui.secondary.button {
   background-color: $theme-orange!important;

 }
