@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './vars';

html {
  font-size: $body-font-size !important;
  height: $extend;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent !important;
  font-family: $font-family;
  font-size: $body-font-size !important;
  color: $darkest;
  height: $extend;
  margin: 0;
  padding: 0;
}

iframe {
  margin: 0;
  padding: 0;
}
