$border_gray: rgba(175, 179, 182, 0.57);

.crops-with-icons {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: $border_gray 1px solid;
  border-top: $border_gray 1px solid;
  border-right: $border_gray 1px solid;
  border-left: $border_gray 1px solid;
}

.chart-section {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  border: $border_gray 1px solid;
  border-top: none;
}

.source-section {
  padding-bottom: 7px !important;
  padding-top: 7px !important;
  border: $border_gray 1px solid;
  border-top: none;
  background-color: #eef1fa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  label {
    color: #14701c;
    font-size: 14px;
    font-weight: bold;
    float: left;
  }
}

.crops-title {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.filters-section {
  //padding-bottom: 7px !important;
  //padding-top: 7px !important;
  border: $border_gray 1px solid;
  border-bottom: none;
  //background-color: #eef1fa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
