@import 'src/scss/vars';

.events {
  &.ui.grid {
    padding: 0;
    margin: 0;
  }

  .column {
    padding: 0;
    margin: 0;
  }

  width: 100%;
}

.events-feed{
  .event-item{
    background-color: #ffffff;
  }
  li{
    .event-wrapper{
      padding: 0 5px;
      p{
        color: $text-color;
        font-size: 16px !important;
        line-height: 29px !important;
        padding-right: $base-unit * 3 !important;
      }
    }
    h3{
      color: $text-color !important;
      font-size: 22px !important;
      margin-bottom: $base-unit;
      margin-top: $base-unit;
      text-transform: none;
      a{
        color: $text-color !important;
        &:hover{
          color: $link-green !important;
        }
      }
    }
    figure.wp-block-image:not(.wp-block){
      overflow: hidden;
    }
    img{
      height: 260px;
    }
    .link{
      @include border-radius(5px);
      background-color: $yellow;
      bottom: auto;
      color: #ffffff;
      font-size: 14px;
      left: $base-unit * 22.5;
      padding: $base-unit + 2 $base-unit * 2;
      position: absolute;
      top: $base-unit * 20;
      &:hover{
        background-color: $link-green;
      }
    }
    .events.ui.grid{
       display: block;
       flex:none;
      .column{
        display: block;
        float: left;
        margin-bottom: 5px;
        margin-left: -5px;
        width: $extend !important;
        .label{
          font-size: 0.75rem;
        }
        .icon{
          background-repeat: no-repeat;
          background-size: $base-unit * 3.5;
        }
      }
    }
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child){
    @media only screen and (min-width: 782px){
      margin-left: $base-unit * 2.2;
    }
  }
}
