.ui.vertical.menu {
  width: 100% !important;
}

.filter-selector-title {
  color: #354052 !important;
}

.filter-selected-option {
  color: gray;
  font-size: 13px;
  margin-top: 18px;
  float: left;
  margin-left: 25px;
}
