label {
  float: left;
  margin-top: 15px;
  font-size: 12pt;
  margin-right: 10px;
}

.crop-icon {
  height: 50px;
  width: auto;
  float: left;
  margin-right: 0px;
}

.lighter-crop2 {
  height: 35px;
  width: 24px;
  top: 5px;
  left: -85%;
  filter: brightness(109%);
  z-index: 999999;
  background-color: white;
  opacity: 0.5;
  position: relative;
}

.black-circle {
  background-size: 40px;
  opacity: 0.55;
}
