// Cowpea
.bf9b314a-3cc5-4de7-9c56-1dcdbbfe5361 {
  fill: #f28e26;
}

.e636d849-c039-47ee-8a84-0bf4236dd588 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// Maize, Hybrid, Opv.
.f7b802a5-8dc8-4ed5-b779-59a7608540e8 {
  fill: #eeca19;
}

.b97b9221-9b87-47cc-927d-20f3dacb7b3d {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// Rice
.a27dd23a-ae68-42c2-9254-e8f5885e4f12 {
  fill: #3b602f;
}

.a7d6e25c-b002-4dfa-8cba-4bc3f632b392 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// Sorghum
.abc88409-45d9-469b-bf75-443eefae2382 {
  fill: #798161;
}

.afe9d9e9-00d5-42ad-8c46-a31353170dce {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// Bean
.aa6e84dc-188d-4dde-833c-e10c5fccc1f5 {
  fill: #c5c39e;
}

.f4c79124-c3c7-4425-bf35-508e84f2594a {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// Soya-bean
.accfa199-00cc-4240-808e-88dd557906bd {
  fill: #83a33e;
}

.a7e51ff4-de5d-4544-85d3-ff2eda5a64f4 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// teff
.efca7a36-c950-4e49-acbf-eb02385e34cd {
  fill: #20676c;
}

.f8b63ccf-56cc-47f5-8ead-ea35b7ba82a3 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// wheat
.b367725e-860d-43f5-bc07-af90c6178a91 {
  fill: #a78d0c;
}

.e49649ce-e292-418f-abc8-bfa373a82b7d {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// groundnut
.a0221b4d-0622-44c3-9060-374f3f5b534e {
  fill: #894f1f;
}

.b3539294-6edd-47c3-a951-3c4d906ca518 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// sunflower
.e5c957f3-9b38-46ce-98fd-8bb68722b0d8 {
  fill: #3f3f3f;
}

.fe279966-1178-46e2-b480-5f78cc4a8904 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// millet
.f480e5fc-a519-4810-9648-414bd299b193 {
  fill: #878786;
}

.bedfe655-5df4-4688-b8e3-ce3d3b284087 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
