@import 'src/scss/vars';

.ui.popup.indicator-popup {
  &:before {
    content: none;
  }

  font-size: 14px;
  border-radius: 0;
  background-color: #f9fff8;
  border: 1px solid #82b55c;

}

.ui.container.fluid .desktop {
  // max-width: 100% !important;

  .ui.container.entry-content {
    // width: 100% !important;
  }
}

.data-summary {
  color: #000000;
  width: 100% !important;
  @media only screen and (max-width: 1366px) {
    padding: 0 $base-unit * 3;
  }
  padding-bottom: 50px;

  .ui.placeholder {
    margin-left: 5px;
    margin-right: 5px;
  }

  .summary-container {
    width: $screen-width !important;

    .ui.accordion {
      .title.theme-title {
        margin-bottom: 5px;

        &.active {
          margin-bottom: 2px;

          &.theme-overview {
            margin-bottom: 0;
          }
        }
      }

      &.table-container {
        .title {
          .icon {
            font-size: .65em;
          }
        }

        &.overview {
          .selected-countries, .other-countries {
            padding: 0;
          }

          .other-countries {
            .indicator-title {
              border-bottom: 1px solid $indicator-border-color;
              height: 30px;
              @include borders-15;

              .ui.column.grid {
                height: 100%;
              }
            }

            .row.even, .row.odd {
              @include borders-15;
            }

            .row.odd {
              .ui.three.column.grid {
                background-color: #f6f6f6;
              }
            }
          }
        }

        .active.content {
          padding: 0;
        }

        margin: 0;

        .odd {
          background-color: $odd_grey;
        }

        .even {
          .indicator-selected-country {
            background-color: $background-selected-country;
          }
        }

        .selected-countries {
          .ui.grid:not(.indicator-label) {
            border-left: 1px solid $indicator-border-color;
          }

          .indicator-title {
            &.ui.grid {
              height: 30px;

              .ui.grid.indicator-sub-title {
                height: 100%;
                border-left: 1px solid $indicator_border_color;
              }
            }

            .column:last-child {
              background-color: $background-selected-country;

            }
          }

          .odd {
            .indicator-selected-country {
              background-color: #f6f1e9;
            }
          }
        }

        .even, .odd {
          .border {
            width: 15px;
            background-color: grey;
            content: 'b';
          }

          height: 40px;
          border-bottom: 1px solid $indicator_border_color;

          .indicator-selected-country {
            border-left: 1px solid $indicator_border_color;
          }

        }

        .title {
          padding: 0;
          margin-bottom: 5px;

          &.active {
            margin-bottom: 0;
          }
        }

        .icon {
          &.info {
            &:hover {
              background-color: #82b55c;
              color: white;
              cursor: pointer;
            }

          }
        }

        .ui.grid {
          &.indicator-title {
            border-bottom: 1px solid $light-gray;
          }

          .row.indicator-title {
            border-bottom: 1px solid $light-gray;

            .ui.grid.indicator-sub-title {

            }
          }

          margin: 0;
          font-size: 14px;

          .column {
            padding: 0;
            height: 100%;

            &.crop-title {
              font-size: 13px;
              padding-right: 10px;
              @include display-flex(right);
              text-align: right;
              -webkit-justify-content: flex-end; // fix for safari.

              i.circular.icon {
                -webkit-box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 1) inset;
                box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 1) inset;
              }

            }
          }

          .other-countries {;

            .row.even, .row.odd {
              @include borders-15;
            }

            .row.odd {
              .ui.three.column.grid {
                background-color: #f6f6f6;
              }
            }

            .row.indicator-title {
              height: 30px;
              @include borders-15;
            }


          }
        }
      }

      width: 100%;

      .title {
        border-top: 0 !important;
        height: 45px;

        &.active {
          .summary-theme {
            color: $green;
          }

          .icon {
            &.chevron {
              transform: rotate(180deg);
            }
          }
        }

        .summary-common {
          height: 45px;
          display: flex;
          align-content: center;
          align-items: center;
          font-size: 14px;
          font-weight: 600;
          padding-left: 10px;

          &.indicator {
            background-color: #ffd686;
            color: #774c00;

            div {
              padding-right: 10px;

            }
          }

          &.summary-theme {
            background-color: $light-gray;
          }
        }

      }
    }
  }
}
.square {
  height: 15px;
  width: 15px;
  margin-right: 8px;
  border-radius: 2px;
}
