
.legend-title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 12pt;
}

.years {
  text-align: left;
  width: auto;
  display: flex;
  margin-left: 20px;

  .year {
    display: flex;
    width: 80px;
    font-size: 12pt;

    .circle {
      width: 18px;
      height: 18px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      margin-right: 5px;
    }
  }
}