@import 'src/scss/vars';
.titles {
  text-align: left;
  position: relative;
  left: -1rem;
  font-family: $title-font-family;

  .title {
    font-size: 21pt;
  }

  .subtitle {
    color: $chart-grey-title;
    font-size: 21pt;
    padding-left: 5px;
  }
}
