.carousel {
  &.ui.fluid.container {
    .carousel {
      height: 100%;
    }
  }

  &.carousel-flex {
    display: flex;
  }

  .carousel-container {
    width: 100%;
  }

  width: 100%;

  .wp-block-cover {
    padding: 0px;
  }

  padding: 0px;

  li {
    padding: 0px;
    min-height: 350px;

    // temporary - removed read more link
    .wp-block-buttons {
      padding: 10px 0px;

      .wp-block-button {
        margin: 0px;
      }
    }
  }


  .carousel__dot--selected {
  }
}

.carousel__dot-group, .paged-dots-container {
  margin: 0px auto auto;
  text-align: center;

  .carousel__dot {
    pointer-events: all !important;
    background-color: $text-color;
    margin: 5px;
    border-radius: 100%;
    height: 12px;
    width: 10px;
    border: 0px !important;
  }

  .carousel__dot:hover {
    background-color: $green-link;
  }

  .carousel__dot:focus {
    outline: none;
    box-shadow: none;
  }

  .carousel__dot:active {
    background-color: $green-link;
    box-shadow: none;
    transform: translateY(0px);
  }

  .carousel__dot--selected {
    background-color: $yellow;
  }

}


// Events carousel
.event-carousel {
  .carousel__dot-group {
    margin-top: 10px;
  }

  .link {
    @include border-radius(5px);
    background-color: $yellow;
    bottom: auto;
    color: #ffffff;
    font-size: 14px;
    left: 57%;
    padding: $base-unit + 2 $base-unit * 2;
    position: absolute;
    top: $base-unit * 26;

    &:hover {
      background-color: $link-green;
    }

    @media only screen and (max-width: 1024px) {
      left: 0;
    }
  }

  .carousel__inner-slide {
    padding: $base-unit;
    @media only screen and (max-width: 1024px) {
      background-color: #ffffff;
    }
  }

  .event-wrapper {
    background-color: #ffffff;
  }

  .event-details {
    padding: 5px 30px;
  }

  h3 {
    font-size: 1rem !important;
    font-weight: 900;
    margin-top: 20px !important;

    a {
      color: $text-color;

      &:hover {
        color: $green-link;
      }
    }
  }

  p {
    a {
      color: $green-link;

      &:hover {
        color: $text-color;
      }
    }
  }
}

// Carousel arrows
.post.carousel {
  .navigator {
    padding-top: 20%;

    button {
      background-color: $green-link;
      border: 1px solid $green-link;
      color: #ffffff;
      padding-bottom: $base-unit;
      padding-top: $base-unit;

      i.icon.chevron.right {
        &:before {
          margin-right: -5px;
        }
      }

      &:hover {
        background-color: darken($green-link, 10%);
      }
    }

    button:disabled {
      opacity: 0.8;
    }
  }
}

// Researchers vertical carousel - no dots, auto height on carousel and slides
.vertical {
  // Vertical Carousel without dots
  .post.carousel {
    height: auto !important;
  }

  &.no-navigation {
    .carousel__dot-group {
      display: none;
    }
  }

  &.has-separator {
    .carousel__slider--vertical {
      li {
        border-bottom: 1px solid $separator-grey;
        padding-bottom: $base-unit * 3.5;
      }
    }
  }

  .carousel__slider--vertical {
    li {
      display: block;
      margin-bottom: $base-unit * 3;
      min-height: auto;
      height: auto;
      overflow: hidden;
    }

    .carousel__slider-tray-wrap--vertical {
      min-height: $extend !important;
      height: $extend !important;
      position: relative;
      overflow: hidden;
    }

    .carousel__inner-slide {
      position: relative;
    }
  }

  // Events grid
  &.events-feed {
    .carousel__slider--vertical {
      padding-left: $base-unit + 2;

      li {
        float: left;
        height: $base-unit * 30;
        padding: 5px;
        position: relative;
        width: 33% !important;
      }
    }
  }

  // Country reports grid
  &.country-reports-wrapper {
    .carousel__slider--vertical {
      padding-left: $base-unit + 2;

      li {
        float: left;
        position: relative;
        width: 41% !important;
      }
    }
  }

  // Press grid
  &.press-feed {
    .carousel__slider--vertical {
      padding-left: $base-unit + 2;

      li {
        float: left;
        height: $base-unit * 35;
        padding: $base-unit;
        position: relative;
        width: 32% !important;
      }
    }
  }

}

// Carousel without read more
.no-read-more {
  .carousel {
    .link {
      display: none;
    }
  }
}

// remove carousel slide outline
.focusRing___1airF.carousel__slide-focus-ring {
  outline: none !important;
}
