.carousel {
  &.ui.fluid.container {
    .carousel {
      height: 100%;
    }
  }

  &.carousel-flex {
    display: flex;
  }

  .carousel-container {
    width: 100%;
  }

  width: 100%;

  .wp-block-cover {
    padding: 0px;

  }

  .wp-block-group {
    min-height: 555px;
    padding: 1rem 2rem;
  }

  .wp-block-columns {
    .wp-block-column {
      // padding: 0px;
      // margin: 0px;
    }

  }

  padding: 0px;

  li {
    padding: 0px;
    min-height: 350px;

    // temporary - removed read more link
    .wp-block-buttons {
      padding: 10px 0px;

      .wp-block-button {
        margin: 0px;
      }
    }
  }


  .carousel__dot--selected {
  }
}

.carousel__dot-group {
  margin: 0px auto auto;
  text-align: center;


  .carousel__dot {
    pointer-events: all !important;
    background-color: $text-color;
    margin: 5px;
    border-radius: 100%;
    height: 12px;
    width: 10px;
    border: 0px !important;

  }

  .carousel__dot:hover {
    background-color: $green-link;
  }

  .carousel__dot:focus {
    outline: none;
    box-shadow: none;
  }

  .carousel__dot:active {
    background-color: $green-link;
    box-shadow: none;
    transform: translateY(0px);
  }

  .carousel__dot--selected {
    background-color: $yellow;
  }

}


// Events carousel
.event-carousel {
  .link {
    display: block;
  }

  .carousel {
    li {
      min-height: $base-unit * 55;
    }
  }

  h3 {
    font-size: 0.9rem !important;

    a {
      color: $text-color;

      &:hover {
        color: $green-link;
      }
    }
  }

  p {
    a {
      color: $green-link;

      &:hover {
        color: $text-color;
      }
    }
  }
}
