@import 'src/scss/vars';

.container.wp-react-lib.footer {
  margin-top: 100px;
  background-color: $yellow;
  line-height: 16px !important;

  .header {
    height: 20px;
    background-image: url("/static/images/footerBG.png");
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
