@import 'src/scss/vars';
.sticky-bottom {
  .ui.button{
    background-color: $green-link;
    color: white;
  }
  position: fixed;
  width: 100%;
  left: 84%;
  bottom: 60px;
  height: 20px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;

}