$font-family: 'Lato', sans-serif;

$blue: #3e53a6;
$light-blue: #5089a6;
$dark-gray: #5c5d63;
$breadcrumb-grey: #535454;
$gray: #66676d;
$light-gray: #dadada;
$separator-grey: #ececec;
$red: #ba5555;
$menu-link-color: #54657e;

$blue: #3e53a6;
$green: #5baf95;

$health-color: #5baf95;
$light-green: #31ba1a;

$charts-options-height: 66px;
$charts-options-font-size: 1.02rem;

@mixin gray-raleway-font {
  font-size: $charts-options-font-size;
  color: $gray;
  font-weight: 500;
  font-family: "Raleway";
}


$base-unit: 10px;
$base-unit-md: 20px;
/*MENUS*/
$dashboard-menu-height: 185px;
$dashboard-menu-height-home: 80px;
$yellow-header: 20px;
$title-header: 80px;
$extend: 100%;

/*TASAI*/
$header-border-width: 300px;

$header-border-width: 250px;
$header-border-width-800: 120px;

/*COLORS*/
$yellow: #EFCB16;
$text-color: #555555;
$menu-text-color: #555555;
$menu-font-size: 16px;
@mixin menu-icon {
  font-size: $menu-font-size - 1;
  font-weight: 600;
  outline: none;
  text-transform: capitalize;
  background-repeat: no-repeat;
  padding-left: calc(2.50em + 0.75rem);
  background-position: left calc(0.100em + 0.1875rem) center;
  filter:  brightness(0) invert(1);
  background-size: 45px 45px;
  display: inline-block;
  cursor: pointer;
}