@import 'src/scss/vars';

.availability-of-basic-seed-container {

  &.ui.grid {
    color: #626262;
    margin: 0;
    width: $extend;

    .row {
      .no-data {
        width: $extend;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.with-bottom-border {
        border-bottom: 1px solid $indicator-border-color;
      }

      &.chart-title {
        font-family: Museo Slab, serif;
        font-weight: 700;
        height: 65px;
        display: flex;
        justify-content: left;
        align-content: center;
        font-size: 21px;
      }

      &.border-left {
        border-left: 1px solid $indicator-border-color;
      }

      &.border-right {
        border-right: 1px solid $indicator-border-color;
      }

      &.datasource-container {
        height: 30px;
        color: $green;
        background-color: #f6f9f5;
        font-weight: 900;
        padding-left: 20px;
        @include display-flex(left);
      }


      padding: 0;

      .seeds-list {
        padding-left: 0;
        padding-right: 0;
      }

      .seeds-title {
        display: flex;
        align-items: center;

        div {
          transform: rotate(-90deg);
          width: fit-content;
          font-size: 16px;
          font-weight: 600;
          white-space: nowrap;
        }
      }
    }

    .column {
      .ui.column.grid {
        margin: 0;

        .column {
          &.with-bottom-border {
            border-top: 1px solid $indicator-border-color;
          }

          height: 90px;
          display: flex;
          align-items: center;

          &:not(.crop-container) {
            justify-content: center;
          }
        }

        .years-title {
          font-size: 16px;
          font-weight: 900;
        }
      }

      .crop {
        color: #7d7d7d;
        width: fit-content;
        background-size: 25px;
        height: 25px;
        padding-left: 30px;
        font-size: 14pt;
        text-transform: capitalize;

        &.average {
          color: #354052;
          padding-left: 0;
          font-weight: 900;
        }
      }
    }
  }

  .chart-heading {
    height: 60px;

    .ui.grid {
      .row {
        height: 65px;

        .legend-item {
          margin-right: $base-unit + 5;
          width: auto;

          &:last-of-type {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .column {
          background-color: transparent;
          color: #868686;

          &:last-of-type {
            margin-left: 5px;
          }

          &.legend-title {
            font-size: 18pt;
            color: #354052;
          }
        }
      }
    }
  }

  .availability-of-basic-seed {
    &.ui.grid {
      margin: 0;
      padding-bottom: $base-unit * 3;
    }
  }
}

.satisfaction-enforcement {
  &.ui.grid {
    color: #626262;
    margin: 0;
    width: $extend;

    .row {
      .no-data {
        width: $extend;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.with-bottom-border {
        border-bottom: 1px solid $indicator-border-color;
      }

      &.chart-title {
        font-family: Museo Slab, serif;
        font-weight: 700;
        height: 65px;
        display: flex;
        justify-content: left;
        align-content: center;
        font-size: 21px;
      }

      &.border-left {
        border-left: 1px solid $indicator-border-color;
      }

      &.border-right {
        border-right: 1px solid $indicator-border-color;
      }

      &.datasource-container {
        height: 30px;
        color: $green;
        background-color: #f6f9f5;
        font-weight: 900;
        padding-left: 20px;
        @include display-flex(left);
      }

      padding: 0;

      .seeds-list {
        padding-left: 0;
        padding-right: 0;
      }

      .title {
        display: flex;
        align-items: center;
        color: black;

        div {
          transform: rotate(-90deg);
          width: fit-content;
          font-size: 16px;
          font-weight: 600;
          white-space: nowrap;
        }
      }
    }
  }
}
