p{
  a{
    color: $theme-light-green;
    &:hover{
      color: $theme-orange;
    }
  }
}

.entry-content {
  margin: 0;
  display: block;

  .date {
    font-size: 14px;
    color: $gray;
    text-align: right;
  }

  .title {

    padding: 0px;
    color: $green;
    font-size: 2.5rem;

  }
}

.wp-block-columns {
  display: flex !important;
}

.wp-block-image img {
  height: -webkit-fill-available;
  height: auto;
}

.aligncenter {
  clear: both;
  text-align: center;
}



figure {
  padding: 0;
  margin: 0;
}

.tight {
  margin: 3px 0 0 0 !important;
}

.padded {
  padding: 1em;

  &.padded-sm {
    padding: 2em;
  }

  &.padded-md {
    padding: 3em;
  }
}

.light {
  font-weight: 100;
}

ul.wp.post.list {
  list-style-type: circle;

  li.entry-content {
    display: list-item !important;
    padding: 10px;

    div, a {
      margin: 5px;
    }

    .date {
      color: #363636;
    }

    .title {
      font-weight: bold;
    }

    .link {
      text-align: right;
    }
  }
}

.wp-block-image.bordered img {
  border: 2px solid $separator-grey;
}

.wp-block-columns {
  .cost-gender-label {
    line-height: 90%;
    margin-left: -$base-unit * 4;
  }
}

.wp-block-columns.contracted {
  background-color: #1b8866;
  padding: 0px;

  .wp-block-column {
    margin: 0px;
  }
}

.form-block-half {
  padding: 3em;

  p {
    &.has-big-font-size {
      margin-bottom: 0.3em;
    }
  }
}

.wp-block-separator {
  border: 1px solid $light-gray;
  width: 100% !important;;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;

}

p + .wp-block-separator {
  margin-top: -20px;
}


p:empty {
  display: none;
}

.wp-block-buttons {
  .wp-block-button__link {
    font-size: 16px !important;
  }
}

.wp-block-group.compacted {
  .wp-block-columns {
    margin-bottom: 10px;
    margin: 0px;
    padding: 0px !important;

    * {

    }

    .wp-block-column:not(:first-child) {
      margin-left: 3px;
    }
  }
}

.wp-block-group {
  p {
    margin-bottom: .1rem;
    margin-top: .1rem;
    padding: 0;
  }
}

.ui {
  &.input {
    > input {
      &::placeholder,
      &::-webkit-input-placeholder{
        font-family: $font-family;
        font-size: 0.8em;
      }
    }
    &.error{
      > input{
        &::placeholder,
        &::-webkit-input-placeholder{
          color: #9f3a38;
          font-family: $font-family;
        }
      }
    }
  }
}

.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text{
  font-family: $font-family;
  font-size: 0.9em;
  top: -3px;
}

.wp-block-column{
  &.bordered{
    @include border-radius(4px);
    border: 1px solid $submenu-border;
    margin: $base-unit / 2;
    padding: $base-unit * 2;
    &.nospace{
      padding: 0;
    }
  }
}

// Reports and tools list

// Reports lists
ul.reports{
  @include list-unstyled;
  margin-bottom: $base-unit-rel;
  overflow: hidden;
  li{
    border-right: 1px solid $submenu-border;
    float: left;
    margin-right: $base-unit * 3;
    padding-right: $base-unit * 3;
    &:last-child{
      border-right: none;
    }
    a{
      color: $default-text-color;
      &:before{
        @include list-icon;
        background-image: url('/report.svg');
      }
      &:hover{
        color: $theme-orange;
        &:before{
          @include list-icon;
          background-image: url('/report-hover.svg');
        }
      }
    }
  }
}

ul.instruments{
  @extend .reports;
  li{
    border-right: none;
    float: none;
    margin-bottom: $base-unit;
    a{
      &:before{
        background-image: url('/instrument.svg');
      }
      &:hover{
        &:before{
          background-image: url('/instrument-hover.svg');
        }
      }
    }
  }
}
// Chart reusable block with header and source
.chart-wrapper{
  @include border-radius(4px);
  border: 1px solid $submenu-border;
  &.wide{
    .chart{
      &.container{
        padding: 0 $base-unit * 5 $base-unit-md $base-unit * 5;
      }
    }
    &.map{
      .container{
        padding: 0;
        background-color: $map-bg;
        .map-wrapper{
          margin-left: 20%;
        }
      }
    }
  }
  .chart{
    &.container{
      padding-bottom: $base-unit-md;
    }
  }
  .chart-info{
    background-color: $chart-info-bg;
    padding: $base-unit-md;
    h3{
      font-size: $body-font-size !important;
    }
    p{
      font-size: $body-font-size - 6;
    }
  }
  .chart-header{
    background-color: $theme-orange;
    color: $body-bg;
    height: $base-unit * 5;
    padding-left: $base-unit-md;
    padding-right: $base-unit-md;
    .wp-block-column{
      display: flex;
      align-items: center;
      &:last-child{
        justify-content: flex-end;
      }
    }
      p{
        color: $body-bg;
        cursor: pointer;
        border-right: 1px solid $body-bg;
        margin-right: $base-unit-md;
        padding-right: $base-unit-md;
        &:hover{
          color: $darkest;
        }
      }
      img{
        display: block;
        margin-left: $base-unit / 2;
        margin-right: $base-unit / 2;
        height: $base-unit * 2.8;
        width: $base-unit * 2.8;
        &:hover{
          filter: invert(100%);
        }
      }
      h3{
        color: $body-bg;
        font-size: $body-font-size !important;
      }
  }
  .source{
    border-top: 1px solid $submenu-border;
    padding: 10px;
    p{
      font-size: 12px;
      > span{
        color: $theme-green;
        font-weight: bold;
      }
    }
  }
}

// Methodology css tooltip (temporary)
.tooltip-trigger{
  padding: $base-unit-md;
  position: relative;
  .tooltip-text{
    @include border-radius(2px);
    @include tooltip-shadow();
    border: $submenu-border;
    font-size: $tooltip-font-size;
    background-color: $body-bg;
    color: $default-text-color;
    margin-left: -284px;
    margin-top: $base-unit * 3.9;
    opacity: 0;
    padding: $base-unit * 2;
    pointer-events: none;
    position: absolute;
    width: $base-unit-xlg * 3;
    z-index: 1;
  }
  &:hover{
    background-color: $body-bg;
    border: 1px solid $submenu-border;
    color: $theme-orange;
    padding: $base-unit-md - 5;
    .tooltip-text{
      opacity: 1;
    }
  }
}
